[common]
timezone = "Europe/Paris"

; Set "true"  if you have one or more Nest Protect smoke detector
protect = "false"

[nest]
nest_username = ""
nest_password = ""

[mysql]
mysql_hostname = ""
mysql_database = ""
mysql_username = ""
mysql_password = ""
